@import '../../../styles/base/settings.scss';

#anal-dash-nav-bar__container {
    width: 100%;
    height: 60px;
    background-color: #70809033;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#anal-dash-nav-bar__view-by__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    width: 33%;
    padding-left: 40px;
    font-size: $type-sizing-3;
}

#anal-dash-nav-bar__view-by__dropdown {
    margin-left: $sizing-1;
    background: none;
    border: none;
    outline: none;
    font-size: $type-sizing-3;
    border-radius: 5px;
}

#anal-dash-nav-bar__view-by__dropdown:hover {
    cursor: pointer;
}

#anal-dash-nav-bar__view-by__dropdown-item {
    border-radius: 5px;
}

#anal-dash-nav-bar__controls-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
}

#anal-dash-nav-bar__placeholder {
    width: 33%;
}