$noteHeight: 20px;
$noteWidth: 115px;

$noteMarginBottom: 2px;
$noteMarginLeft: 6px;

$notePaddingLeftRight: 4px;

$noteBorder: #D3D3D3 0.5px solid;
$noteBorderRadius: 4px;

:export {
    noteHeight: $noteHeight;
    noteWidth: $noteWidth;
    noteMarginBottom: $noteMarginBottom;
    noteBorder: $noteBorder;
    noteBorderRadius: $noteBorderRadius;
    noteMarginLeft: $noteMarginLeft;
    notePaddingLeftRight: $notePaddingLeftRight;
}