#main-dashboard-table__loading {
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

#main-dashboard-table__container {
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}