@import '../../../../../styles/base/settings';

$activityHeight: 22px;
$activityWidth: 22px;

.activity-container {
  height: $activityHeight;
  width: $activityWidth;
  border-radius: 3px;

  padding-left: $sizing-1;
  padding-right: $sizing-1;
  display: flex;
  justify-content: center;
  align-items: center;


  font-weight: 200;
  color: $accent;
  font-size: $type-sizing-2;
}

.activity-container-active:hover {
  cursor: pointer;
  background-color: #314149;
}

.activity-loading {
  height: $activityHeight;
  width: $activityWidth;
  background-color: #e6e6e6;
  border-radius: 3px;
}


:export {
  categoryHeight: $activityHeight;
  categoryWidth: $activityWidth;
}
