@import '../../../styles/base/settings.scss';

#anal-total-card__content-categories {
    width: 300px;
}

#anal-total-card__content-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#anal-total-card__content-arrow {
    width: 10px;
    height: 10px;
}