@import '../../styles/base/settings';

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.banners {

    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-right: 10%;
}

.banners-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.to-current-week {
    border: none;
    border-radius: 5px;
    padding: $sizing-2;
    background-color: white;
    font-size: $type-sizing-2;
    color: $grey-7;
}

.to-current-week:hover {
    background-color: $grey-2;
    color: $grey-9;
}

.navigation {
    flex-grow: 1;
    position: relative;
    
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.new-buttons {
    padding: 5px;
}

.year-dropdown-container {
    margin: $sizing-1;
    display: flex;
    flex-direction: column;
}

.year-dropdown {
    background-color: white;
    border: $grey-1;
    appearance: none
}

.year-dropdown-label {
    font-size: $type-sizing-2;
    font-weight: 200;
    color: $grey-6;
    margin: $sizing-1;
}

.week-dropdown-container {
    margin: $sizing-1;
    display: flex;
    flex-direction: column;
}

.week-dropdown-label {
    font-size: $type-sizing-2;
    font-weight: 200;
    color: $grey-6;
    margin: $sizing-1;
}

.week-dropdown {
    background-color: $grey-2;
    border: solid 0.5px $grey-1;
    width: $sizing-7;
    height: $sizing-4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.week-dropdown-control {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.week-dropdown-placeholder {
    font-size: $type-sizing-6;
    color: $grey-9;
}







.previous-week {
    height: $sizing-5;
    width: $sizing-9;
}

.previous-week:hover {
    cursor: pointer;
    height: $sizing-6;
    fill: $primary-7;
}

.next-week {
    height: $sizing-5;
    width: $sizing-9;
}

.next-week:hover {
    height: $sizing-6;
    cursor: pointer;
    fill: $primary-7;
}



.week-banner {
    margin: 5px;
    font-size: $type-sizing-6;
    font-weight: 300;
    color: $grey-8;
}

.year-banner {
    margin: 5px;
    font-size: $type-sizing-6;
    font-weight: 300;
    color: $grey-8;
}