@import '../../../styles/base/settings';

.edit-category-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-category-name {
    margin-top: $sizing-5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: $sizing-7;
    width: $sizing-13;
}

.edit-category-name-label {
    font-weight: 300;
    font-size: $type-sizing-2;
    color: $grey-6;
    margin-right: $sizing-7;
}

.edit-category-name-input {
    border: none;
    border-bottom: solid 0.5px $grey-6;
    font-weight: 300;
    font-size: $type-sizing-2;
    color: $grey-9;
}

.edit-category-box-color {
    margin-top: $sizing-5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $sizing-7;
    width: $sizing-13;
    position: relative;
}

.edit-category-color-square {
    height: $sizing-5;
    width: $sizing-7;
    border-radius: $sizing-1;
    margin-right: $sizing-10;
}

.edit-category-color-square:hover {
    cursor: pointer;
}

.edit-category-activities {
    margin-top: $sizing-5;
    width: $sizing-13;
    // height: $sizing-7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.edit-category-activities-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $sizing-1;
}



.edit-category-activity-list {
    
    width: $sizing-14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.edit-category-activities-banner {
    margin-right: 111px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'helvetica';
    font-weight: 200;
    font-size: $type-sizing-2;
    color: $grey-9;
    
}

.edit-category-activities-list-items {
    display: flex;
    flex-direction: column;
    
}

.edit-category-activity-add-button {
    position: relative;
    z-index: 10;
    left: -8px;
    top: -10px;
    display: inline-block;
    width: $sizing-7;
    height: $sizing-7;
    background-color: white;
    border: none;
    font-size: $type-sizing-6;
    color: $primary-8;
    padding: 0;
}

.edit-category-activity-add-button:hover {
    font-size: $type-sizing-7;
}

.edit-category-trash-icon {
    bottom: $sizing-1;
    left: 240px;
    position: relative;
    height: $sizing-6;
    width: $sizing-4;
}

.edit-category-trash-icon:hover {
    cursor: pointer;
    height: $sizing-6;
    width: $sizing-5;
}