@import '../../../styles/base/settings';

#toggle-container {
    display: flex;
    flex-direction: row;
}

#toggle-active {
    cursor: default;
    background-color: $accent;
    
    color: $primary;

    border-radius: 3px;
    padding: 4px;
    margin: 2px;
}

#toggle-inactive {
    cursor: pointer;
    border-radius: 3px;
    padding: 4px;
    margin: 2px;
}