@import '../../../../styles/base/settings';

.category-section-category-list-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.category-section-category-list-item-container {
  display: flex;
  flex-direction: row;
}

.category-section-category-list-item {
  border-bottom: 2px solid transparent;
  font-size: $type-sizing-4;
  color: $accent-2;
}

.category-section-category-list-item:hover {
  @extend .category-section-category-list-item;
  border-bottom: 2px solid $accent;
  cursor: pointer;
}

.category-section-category-list-item-selected {
  @extend .category-section-category-list-item;
  border-bottom: 2px solid $accent;
}

.category-section-category-list-add-input {
  background-color: transparent;
  border: none;
  border-bottom: .5px solid $accent;
  font-size: $type-sizing-4;
  caret: $accent-2;
  color: $accent-2;
  margin: 18px 0 0 0;
  width: 160px;
}

.category-section-category-list-add-input:focus {
  outline: none;
}

.category-section-category-list-add {
  margin-top: 18px;
  fill: white;
  height: 15px;
  width: 15px;
}

.category-section-category-list-add:hover {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
