@import "src/styles/base/_settings.scss";

.tool-bar-item__dropdown {
  display: flex;
  flex-direction: column;
}

.tool-bar-item__label {
  font-size: $type-sizing-3;
  color: $accent-2;
}

.tool-bar-item__dropdown__select {
  margin-top: 5px;
  margin-right: 15px;
}
