$defaultBackground: #D3D3D3;
$categoryHeight: 20px;
$categoryWidth: 18px;

:export {
    defaultBackground: $defaultBackground;
    categoryHeight: $categoryHeight;
    categoryWidth: $categoryWidth;
    categoryContainer: categ
}
