@import '../../styles/base/settings.scss';
@import './Constants.scss';


.category-container {
  height: $categoryHeight;
  width: $categoryWidth;
  background-color: $defaultBackground;
  border-radius: 3px;
}

.active:hover {
  cursor: pointer;
}