// @import '../../styles/base/settings.scss';

$defaultBackground: #D3D3D3;
$categoryHeight: 22px;
$categoryWidth: 20px;

#category-activity-container {
  height: $categoryHeight;
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

#category-container {
  height: $categoryHeight;
  width: $categoryWidth;
  border-radius: 3px;
  margin-right: 6px;
}

#category-container:hover {
  cursor: pointer;
}

:export {
    defaultBackground: $defaultBackground;
    categoryHeight: $categoryHeight;
    categoryWidth: $categoryWidth;
}
