@import '../../../styles/base/settings.scss';

#analytics-dashboard-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background-color: #f6f7f9;
    background-color: $primary;
}


