@import '../../styles/base/settings';

#login-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: $primary;
    height: 100vh;
}

#login-container {
    background-color: $primary;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    color: $accent-2;
}

.login-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login-button {
    background-color: transparent;
    outline: none;
    border: none;
    color: $accent-2;
    font-size: $type-sizing-3;
}

.login-button:hover {
    color: $accent;
}