@import '../../styles/base/settings';

.edit-categories-container {
    display: flex;
    width: $sizing-16;
    flex-direction: column;
    flex-grow: 1;
}

.edit-categories-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 300;
    font-size: $type-sizing-5;
    margin-bottom: $sizing-2;
    border-bottom: solid 0.3px $grey-8;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.category-names-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: $sizing-13;
}

.category-settings-item {
    font-weight: 200;
    font-size: $type-sizing-4;
    padding-top: $sizing-3;
    padding-bottom: $sizing-3;
    display: inline-block;
    align-content: center;
}

.category-settings-item:hover {
    cursor: pointer;
    color: $primary-8;
}

.next-icon {
    height: $sizing-3;
    width: $sizing-3;
    margin-left: $sizing-1;
    fill: $primary-8;
}

.category-add-button {
    position: relative;
    left: -8px;
    bottom: $sizing-1;
    display: inline-block;
    width: $sizing-7;
    height: $sizing-7;
    background-color: white;
    border: none;
    font-size: $type-sizing-6;
    color: $primary-8;
    padding: 0;
}

.category-add-button:hover {
    font-size: $type-sizing-7;
}

.settings-dashboard-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: $sizing-16;
    padding: $sizing-5;
    font-weight: 200;
    font-size: $type-sizing-7;
    
}