@import '../../../../../styles/base/settings';

#note-modal-container {
    display: flex;
    flex-direction: column;

    width: $sizing-14;
    height: $sizing-11;
    border-radius: $sizing-3;

    background-color: white;
    box-shadow: $shadow-1;
    border: solid 0.8px $grey-9;
}

#note-modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: $sizing-5;
}

#note-modal-title {
    font-size: $type-sizing-5;
    color: $grey-7;
    font-weight: 300;
    width: $sizing-1;
    height: $sizing-1;
    margin-right: $sizing-4;
    margin-top: $sizing-1;
}

#note-modal-title:hover {
    cursor: pointer;
    color: $primary-8;
}

    /* Modal Content/Box */
#modal-textarea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
    
#note-modal-input {
    border: 1px solid $grey-2;
    border-radius: $sizing-2;
    padding: $sizing-2;
    width: 95%;
    height: 85%;
    
    outline: none;
    resize: none;
    font-family: Helvetica;
    font-weight: 300;
    font-size: $type-sizing-2;
}
    
#note-modal-button-container {
    flex-grow: 1;
    width: 100%;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#note-modal-save-button {
    display: inline-block;
    color: $grey-9;
    font-size: $type-sizing-3;
    font-weight: 300;
    margin-left: $sizing-6;
}

#note-modal-save-button:hover {
    cursor: pointer;
    color: $primary-8;
    
}

#note-modal-delete-button {
    display: inline-block;
    color: $grey-9;
    font-size: $type-sizing-3;
    font-weight: 300;
    margin-left: 40px;
    margin-right: 40px; 
}

#note-modal-delete-button:hover {
    cursor: pointer;
}
