@import '../../styles/base/settings';

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    background-color: $primary;
    width: 65px;
    height: 100%;
}

#nav-bar-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#nav-bar-link-icon {
    height: 25px;
    width: 25px;
    margin-bottom: 20px;
}

#nav-bar-link-icon:hover {
    cursor: pointer;
    fill: $accent;
}

#nav-bar-logout-icon {
    height: 25px;
    width: 25px;
    margin-bottom: 20px;
    fill: $accent-2;
}

#nav-bar-logout-icon:hover {
    cursor: pointer;
    fill: $accent;
}




