@import '../../styles/base/settings';

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    background-color: rgb(11,33,57);
    width: 80px;
    height: 100%;
}

#nav-bar-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#nav-bar-link-icon {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
}

#nav-bar-link-icon:hover {
    cursor: pointer;
    fill: rgb(253,190,64);
}


#nav-bar-logout-icon {
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
    fill: white;
}

#nav-bar-logout-icon:hover {
    cursor: pointer;
    fill: rgb(253,190,64);
}





