@import '../../../../../styles/base/settings';

#category-section-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

#category-section-form-error {
  height: 20px;
  color: $error;
  font-size: $type-sizing-4;
}

#category-name {
  background-color: $primary;
  border: none;
  margin-left: 5px;
  outline-width: 0;
  caret-color: $accent;
  color: $accent;
  font-size: $type-sizing-4;
  width: 180px;
  text-align: end;
}

#color-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#color-section-color {
  width: 50px;
  height: 20px;
  border-radius: 4px;
  margin-bottom: 15px;
}

#category-color {
  background-color: $primary;
  border: none;
  margin-left: 5px;
  outline-width: 0;
  caret-color: $accent;
  color: $accent;
  font-size: $type-sizing-4;
  width: 100px;
}

#category-section-form-save-button {
  background-color: $primary;
  border: .5px solid $accent;
  color: $accent;
  padding: 6px;
  border-radius: 9px;
  font-size: $type-sizing-3;
}

#category-section-form-save-button:hover {
  background-color: $accent;
  color: $primary;
}
