@import '../../../../styles/base/settings';

#activity-list-item-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#activity-list-item-input-container {
  margin-bottom: 15px;
}

#activity-list-item-long-input {
  background-color: $primary;
  border: none;
  margin-left: 5px;
  outline-width: 0;
  caret-color: $accent-2;
  color: $accent-2;
  font-size: $type-sizing-4;
  width: 255px;
  margin-right: 5px;
  text-align: end;
}

#activity-list-item-short-input {
  background-color: $primary;
  border: none;
  margin-left: 5px;
  outline-width: 0;
  caret-color: $accent-2;
  color: $accent-2;
  font-size: $type-sizing-4;
  width: 35px;
}

.activity-list-item__undo-icon {
  fill: $accent;
  height: 15px;
  width: 15px;
}

.activity-list-item__undo-icon:hover {
  cursor: pointer;
}

.activity-list-item__archive-icon {
  fill: $accent;
  height: 10px;
  width: 10px;
  margin: 0 5px 0 5px;
}

.activity-list-item__archive-icon:hover {
  cursor: pointer;
}
