@import '../../../../styles/base/settings';

.activity-list-item-link {
  text-decoration: none;
}

.activity-list-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.activity-list-item-container:hover {
  cursor: pointer;
}

.activity-list-item-name {
  color: white;
  font-size: $type-sizing-4;
}

.archived-activity {
  opacity: 0.5;
}

.activity-list-item__icon-container {
  height: 18px;
  width: 18px;
}

.activity-list-item__edit-icon {
  fill: $accent;
  height: 14px;
  width: 14px;
  margin-left: 10px;
}

.activity-list-item__edit-icon:hover {
  cursor: pointer;
}
