.category-item {
  height: 20px;
  margin: 3px;
  padding: none;
  width: 18px;
  border-radius: 3px;
  display: flex;
  // background-color: #f0ead6;
}

.category-item:hover {
  cursor: pointer;
}

.activity-item:hover {
  cursor: pointer;
  background-color: #D3D3D3;
  border-radius: 3px;
}

.activity-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

