@import '../../styles/base/settings';

.main-container {
  height: $line-height;
  width: $sizing-7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

.category-activity-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: $sizing-7;
}

.category-item {
  height: $line-height;
  // margin: 3px;
  padding: none;
  width: $sizing-4;
  border-radius: 3px;
  display: flex;
  // background-color: #f0ead6;
}

.category-item:hover {
  cursor: pointer;
}

.activity-item:hover {
  cursor: pointer;
  background-color: #D3D3D3;
  border-radius: 3px;
}

.activity-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $line-height;
  width: $sizing-4;
  font-weight: 200;
  color: $grey-8;
  font-size: $type-sizing-2
}

