@import '../../styles/base/settings';

.main-container {
  height: $line-height;
  width: $sizing-7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

.category-activity-container {
  // position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: $sizing-7;
}

.category-item {
  display: flex;
  position: relative;
  height: $line-height;
  width: 18px;
  padding: none;
  border-radius: 3px;
  z-index: 10;
}

.category-item:hover {
  cursor: pointer;
}

.activity-item:hover {
  cursor: pointer;
  background-color: #D3D3D3;
  border-radius: 3px;
  
}

.activity-item {
  padding-left: $sizing-1;
  padding-right: $sizing-1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
  height: $line-height;
  margin-left: 5px;
  z-index: 10;
  
  font-weight: 200;
  color: $grey-8;
  font-size: $type-sizing-2;
}