@import '../../../styles/base/settings.scss';

#analytics-dashboard-loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: $primary;
    height: 100vh;
}

#analytics-dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    //background-color: $primary;
}