@import '../../../styles/base/settings.scss';

#analytics-dashboard-loading-container {
    margin-bottom:-47px;
    margin-top: -160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.analytics-dashboard-container {
    // padding-left: 50px;
    // padding-top: 50px;
    // padding-right: 50px;
}