@import '../../styles/base/settings';

.footer-container {
    margin-top: $sizing-5;
    height: $sizing-7;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing:border-box;
    padding: $sizing-4;
    background-color: #708090;
    
    font-weight: 300;
    font-size: $type-sizing-4;
    color: white;
   
    // box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, .5);
    
}