@import '../../../../styles/base/settings';

$compositionWidth: 252px;
$activityWidth: 47px;
$noteWidth: 121px;

.day-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.day-header {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $accent;
    font-size: $type-sizing-4;
}

.composition-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.activity-outer-container {
    width: $activityWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.note-outer-container {
    width: $noteWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#note-modal-wrapper {
    position: absolute; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}