@import "../../../../../styles/base/settings";


.cell {
    font-size: $type-sizing-4;
    padding: 0 20px;
}

.total-per-week-table__category-header {
  color: $accent;
  text-align: right;
  padding: 0 20px;
}

.total-per-week-table__category-row__cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $accent-2;
  padding-top: 10px;
}

.total-per-week-table__category-row__cell-count {
  padding-top: 10px;
  padding-left: 25px;
  text-align: right;
  color: $accent-2;
}

.total-per-week-table__category-color {
  height: 12px;
  width: 12px;

  border-radius: 2px;
  margin-right: 10px;
}