@import '../../../styles/base/settings.scss';


#anal-card__container {
    display: flex;
    flex-direction: column;


    width: fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: $sizing-3;

    background-color: $dark-primary;
}