@import '../../../styles/base/settings.scss';


#anal-card__container {
    display: flex;
    flex-direction: column;


    width: fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: $sizing-3;

    background-color: white;
    border: 1.2px solid #f0ede9;
    box-shadow: -1px 1px 11px -4px rgba(194, 186, 176, 0.67);
}

#anal-card__header {
    text-align: center;
    margin-bottom: 10px;
}

#anal-card__header-text {
    font-size: $type-sizing-5;
    font-weight: 500;
    margin: 0;
}