@import '../../../../styles/base/settings';

.analytics-activity-card-content__description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: $sizing-4;

  padding-bottom: $sizing-2;
  border-bottom: 2px solid $accent;
}

.analytics-activity-card-content__description-text {
  margin: 0 $sizing-4 0 0;
  color: white;
}