@import '../../../styles/base/settings.scss';

#main-dashboard-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60px;
    padding-top: 50px;
}

#main-dashboard-nav-back-to-current-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    user-select: none;
    width: 33%;
}

#main-dashboard-nav-back-to-current {
    background-color: transparent;
    border: none;
    font-size: $type-sizing-3;
    outline: none;
    color: $accent-2;
}

#main-dashboard-nav-central-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 33%;
}

#main-dashboard-nav-banner {
    user-select: none;
    margin: 5px;
    font-size: $type-sizing-6;
    font-weight: 300;
    color: $accent-2;
}


#main-dashboard-week-change-button {
    height: $sizing-5;
    width: $sizing-9;
    transition: 0.2s;
    fill: #c48852;
}

#main-dashboard-week-change-button:hover {
    cursor: pointer;
    height: $sizing-6;
}
