@import '../../../styles/base/settings.scss';

#dashboard-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #f6f7f9;
}

#dashboard-nav-back-to-current-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 33%;
    padding-left: 30px;
}

#dashboard-nav-back-to-current {
    background-color: #f6f7f9;
    border: none;
    font-size: $type-sizing-3;
    outline: none;
}

#dashboard-nav-back-to-current:hover {
    text-decoration: underline;
    cursor: pointer;
}


#dashboard-nav-central-container {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dashboard-nav-week-banner {
    margin: 5px;
    font-size: $type-sizing-6;
    font-weight: 300;
    color: $grey-8;
}

#dashboard-nav-year-banner {
    margin: 5px;
    font-size: $type-sizing-6;
    font-weight: 300;
    color: $grey-8;
}

#dashboard-nav-previous-week {
    height: $sizing-5;
    width: $sizing-9;
    transition: 0.2s;
}

#dashboard-nav-previous-week:hover {
    cursor: pointer;
    height: $sizing-6;
}

#dashboard-nav-next-week {
    transition: 0.2s;
    height: $sizing-5;
    width: $sizing-9;
}

#dashboard-nav-next-week:hover {
    height: $sizing-6;
    cursor: pointer;
}