@import '../../styles/base/settings';

.table-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: $sizing-4;
}

.category-note-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 20px;
    margin-bottom: 2px;
}

.category-cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 160px;
    height: 27px;
    padding: 0;
}

.day-container {
    width: $sizing-11;
}

.day-header {
    height: $line-height;
    color: $grey-8;
    font-weight: 300;
    font-size: $type-sizing-3;
}

table {
    display: flex;
    flex-direction: column;
    width: 1160px;
}

.header-row {
    display: flex;
    justify-content: space-evenly;
}

.table-row {
    display: flex;
}


