@import '../../../../styles/base/settings';

.time-cell-container {
    width: $sizing-7;
    margin-right: $sizing-5;
    margin-left: $sizing-5;
    margin-top: 42px;
}

.time-cell {
    height: 22px;
    width: $sizing-7;
    margin: none;
    font-weight: 300;
    font-size: $type-sizing-2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-bottom: solid 0.5px $grey-2;
    margin: 2px;
    transition: 0.15s;
}

.time-cell-thick {
    height: 22px;
    width: $sizing-7;
    margin: none;
    font-weight: 300;
    font-size: $type-sizing-2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-bottom: solid 1.3px $grey-7;
    margin: 2px;
}



