@import '../../styles/base/settings.scss';

.analytics-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(248,248,250);
    height: 100%;
}


