@import '../../../../../styles/base/settings';

#category-section-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 450px;
  margin: 20px;
}

#category-section-section-title {
  margin: 0;
  font-size: $type-sizing-3;
  font-weight: 300;
  color: white;
}