@import '../../styles/base/settings.scss';

.new-feature-popup__container {
  display: flex;
  flex-direction: row;

  position: absolute;
  bottom: 0;
  right: 0;
  animation: run ease 1s;
  padding: 0 $sizing-2 $sizing-3 $sizing-5;
  margin: 0 30px 30px 0;
  border-radius: $sizing-4;
  width: 250px;

  background-color: $dark-primary;
}

@keyframes run {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.new-feature-popup {
  margin: 10px 0 10px 0;
}

.new-feature-popup__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: fit-content;
}

.close-icon {
  margin: 10px 5px 0 0;
  height: 10px;
  width: 10px;
  fill: $accent;
}

.close-icon:hover {
  cursor: pointer;
}