@import "./settings.scss";

* {
    box-sizing: border-box;
}

html, body { 
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow: auto;
    // font-family: "-apple-system", "Segoe UI", "Roboto, Noto" "Sans", "Ubuntu", "Cantarell", "Helvetica Neue";
    font-family: 'helvetica';
    color: #c48852;
    background-color: $primary;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.card {
    background-color: #181717;
    padding: 20px 40px 20px 40px;
    margin: 20px;
    border-radius: 10px;
    min-height: 600px;
    height: fit-content;
    min-width: 440px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-title {
    width: 100%;
    text-align: center;
    padding-bottom: $sizing-2;
    font-size: $type-sizing-5;
    font-weight: 500;
    margin-top: 0;
    border-bottom: 1px solid $accent;
}

.custom-tooltip {
    background-color: white;
    border-radius: 7px;
    padding: 1px 10px 1px 10px;
}